body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: navy;
    background: url("https://images.unsplash.com/photo-1462556791646-c201b8241a94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60");
  }

  * {
    box-sizing: border-box;
  }

  /*general */ 

  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  
  
    h1,
    h2,
    h3,
    p {
        margin-bottom: 20px;
    }
    
    p:last-child {
        margin-bottom: 0;
    }
    
    h1,
    h2,
    h3 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 700;
      color: darkgrey ;
    }
    
    h1 {
      padding-bottom: 20px;
      font-size: 30px;
      line-height: 49px;
      border-bottom: 3px solid #dddddd;
    }
    
    h2,
    h3 {
      font-size: 22px;
    }
    
    /* header */
    
    #masthead {
      position: fixed;
      z-index: 99;
      width: 100%;
      margin: 0 0 30px;
      overflow: auto;
      color:#ffffff;
      background: #ffffff;
      border-bottom: 2px solid #cccccc;
    }
    
    #logo {
      float: left;
      width: 250px;
      height: 90px;
      font-family: Georgia, Times, "Times New Roman", serif;
      font-size: 30px;
      font-weight: 700;
      line-height: 90px;
      color: #ffffff;
      text-align: center;
      text-decoration: none;
      background: lightslategray;
    }
    
    nav {
      float: right;
      margin-top: 25px;
      overflow: hidden;
    }
    
    nav a {
      display: inline-block;
      padding-left: 15px;
      margin-left: 15px;
      line-height: 18px;
      color: #999;
      text-decoration: none;
      border-left: 1px solid #efefef;
    }
    
    nav a:first-child {
      border-left: 0 none;
    }
    
    /* footer */
    
    footer {
      padding: 30px 0;
      clear: both;
      font-size: 12px;
      color: #ffffff;
      text-align: center;
      background-color: #666666;
      border-top: 8px solid navy;
      height: 50px;
      position: center;
    
    }

    
    h3, h2 {
      padding-bottom: 20px;
      margin-bottom: 15px;
      line-height: 22px;
      border-bottom: 2px solid #eeeeee;
    }
    
    /* main */
    
    #main-container {
      padding-top: 130px;
      min-height: calc(100vh - 70px);
    }
    
    .main-section {
      float: left;
      width: 100%;
      max-width: 100%;
      padding: 30px;
      margin: 0 0 40px;
      background: #ffffff;
      border: 1px solid #dddddd;
    }

     /* portfolio page */

   .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }

  .footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background-color: hsl(0, 0%, 40%);
    border-top: 8px solid navy;
    height: 50px;
    position: center;
  
  }

  /* contact page */

  #contact-form ul {
    margin-bottom: 0 auto;

  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }
  
  /* Bootstrap Media Queries */
  /* For Desktop */
  @media only screen and (max-width: 980px) {
    body {
      background-color: lightblue;
    }
  }

  /* For Ipad */
  @media only screen and (max-width: 768px) {
    body {
      background-color: lightblue;
    }
  }

  /* For Iphone */

  @media only screen and (max-width: 640px) {
    body {
      background-color: lightblue;
    }
  }